.song-list {
  margin-top: 20px;
  display: flex;
  padding-left: 25px;
  gap: 8px; /* 要素間のスペース */
  flex-wrap: wrap; /* 折返し指定 */
}

.song-image {
  width: 250px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  object-fit: cover;
}

.song-info-title {
  font-size: 25px;
  text-align: center;
}
.song-info-user {
  display: flex;
  gap: 4px;
}

.user-icon {
  width: 35px;
  height: 35px;
  border-radius: 9999px;
  object-fit: cover;
}

.song-info-username {
  margin-top: 4px
}