
.record-shelf-wall {
  background-color: var(--tm-surface);
  padding: 2rem 1rem;
  border-radius: 6px;
}

.record-shelf {
  position: relative;
  margin-bottom: 1rem;
}

.record-shelf-board {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 16px;
  width: 100%;
  background-image: url('/public/images/wood_board2.jpg'); /* ←パスに注意 */
  background-size: cover;
  filter: brightness(0.7);
  background-position: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.575);
  border-radius: 4px;
  z-index: 100;
}

.record-row {
  display: flex;
  gap: 1.5rem;
  padding: 11px;
  justify-content: center;
  z-index: 2;
  position: relative;
}

.record-card {
  width: 300px;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.2s;
}

.record-card img {
  width: 100%;          /* ← 明示的に正方形に近づける */
  object-fit: cover;       /* ← はみ出さずに埋める */
  border-radius: 6px;
  aspect-ratio: 1;
  box-shadow: 8px 8px 1px rgba(0, 0, 0, 0.459);
  filter: blur(0.6px) contrast(0.95) brightness(1.05)
}

.record-card:hover {
  transform: translateY(-4px);
}
